@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@400;700&display=swap");

html {
  font-family: "Alumni Sans", sans-serif;
}

body {
  background-image: -moz-radial-gradient(rgba(60, 60, 60, 0.3), black);
  /* background-color: #404530dd; */
  background-color: black;
  max-width: 1280px;
  box-shadow: 0px 0px 150px rgba(150, 150, 60, 0.2);
  margin: auto;
}
