@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@400;700&display=swap");

html {
  font-family: "Alumni Sans", sans-serif;
}

html {
  @apply bg-gradient-to-r from-slate-950 to-slate-950 via-amber-950  scroll-smooth;
}

body {
  @apply flex flex-col bg-gradient-to-b from-slate-950 to-slate-900 items-center justify-evenly container  max-w-[1080px] m-auto shadow-amber-700 shadow-lg border-2 border-slate-950;
}

.transparent-header {
  background-color: rgba(2, 6, 23, 0.5);
  backdrop-filter: blur(10px);
}
